<br />
<div class="py-5 bg-light" >
    <section class="pt-4 pt-md-11">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-5 col-lg-6 order-md-2">

                    <img src="/img/AboutImage/illustration-2.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">

                </div>
                <div class="col-12 col-md-7 t col-lg-6 order-md-1 my-5 ">

                    @*Welcome message*@
                    <h1 class="display-6 lead" dir=@_localization.Getkey("lang_dir")>
                        @_localization.Getkey("str_about_title_1") <span style="color: rgb(0, 84, 166);" dir=@_localization.Getkey("lang_dir")>@_localization.Getkey("str_about_title_2")</span>. <br>
                        @_localization.Getkey("str_about_title_3")
                    </h1>


                    <p class="lead mb-6 mb-lg-8" style="color: #869ab8 " dir=@_localization.Getkey("lang_dir")>
                        @_localization.Getkey("str_about_title_4")
                    </p>



                    <div dir=@_localization.Getkey("lang_dir")>
                        <a asp-controller="Home" asp-action="About" dir=@_localization.Getkey("lang_dir") class="text-light btn btn-primary me-1 p-3 text-capitalize lift" style="background-color: rgb(0, 84, 166)!important;">
                            @_localization.Getkey("str_btn_learn_more") <i class="fa-solid fa-arrow-right text-light d-none d-md-inline ms-2"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="py-8  py-md-11 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 " dir=@_localization.Getkey("lang_dir")>


                    <div class="text-primary mb-3">
                        <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"></path><path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3"></path></g></svg>
                    </div>


                    <h3>
                        @_localization.Getkey("str_about_block1_title")
                    </h3>


                    <p class=" mb-6 mb-md-0  lh-base fs-5" style="color: #869ab8 ">
                        @_localization.Getkey("str_about_block1_content")
                    </p>

                </div>

                <div class="col-12 col-md-4  " dir=@_localization.Getkey("lang_dir")>


                    <div class="text-primary mb-3">
                        <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"></path><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"></path></g></svg>
                    </div>


                    <h3>
                        @_localization.Getkey("str_about_block2_title")
                    </h3>


                    <p class=" mb-6 mb-md-0  lh-base fs-5" style="color: #869ab8 ">
                        @_localization.Getkey("str_about_block2_content")
                        
                    </p>

                </div>
                <div class="col-12 col-md-4  " dir=@_localization.Getkey("lang_dir")>

                    <div class=" text-primary mb-3">
                        <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"></rect></g></svg>
                    </div>


                    <h3>
                        @_localization.Getkey("str_about_block3_title")
                    </h3>

                    <p class=" mb-0  lh-base fs-5" style="color: #869ab8 ">
                        @_localization.Getkey("str_about_block3_content")
                    </p>

                </div>
            </div>
        </div>
    </section>
</div>
