<div id="services" class="my-5 py-5"></div>
<div  style="margin-top:340px" class="text-center my-5">
    <section class="services">
        <!-- shape -->
        <div class="shape">
            <img class="mx-auto img-fluid" src="assets/upload/shapes/dots-light.svg" alt="">
        </div>
        <!-- #shape -->
        <div class="container">
            <div class="row ">
                <div class="col">
                    <div >
                        <h1 class="text-uppercase" style="color:#0054A6">@_localization.Getkey("str-title-services")</h1>
                        <p style="color:#0054A6">@_localization.Getkey("str-services-message")</p>

                        <div class="container"><div class=" border-bottom border-5 mx-auto" style="width: 100px; "> </div></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">

                <div class="col-xs-6 col-lg-4 my-2">
                    <div class="pe-2">
                        <div class="card border bg-light p-5" style="height:416px;">
                        <span class="card-img py-5">
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-app-indicator icon-resized" viewBox="0 0 16 16" style="fill:#0054A6;width:70px;height:70px; cursor: pointer;" onmouseover="this.style.fill='#69b3e3'; this.style.width='80px'; this.style.height='80px'" onmouseout="this.style.fill='#0054A6'; this.style.width='70px'; this.style.height='70px'">
                                <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"></path>
                                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                            </svg>
                        </span>
                        <div class="card-body py-2 px-3">
                            <h4 class="card-title mt-3 text-uppercase" style="color:#0054A6; cursor: pointer;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str-mobile-title")</h4>
                            <p class="card-text mt-4 pb-2">@_localization.Getkey("str-mobile-content")</p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-xs-6 col-lg-4  my-2" >
                    <div class="px-1">
                      <div class="card bg-light border p-5" style="height:416px;">
                        <span class="card-img py-5">
                            <svg xmlns="http://www.w3.org/2000/svg" style="fill:#0054A6;width:70px;height:70px;" onmouseover="this.style.fill='#69b3e3';this.style.width='80px';this.style.height='80px'" onmouseout="this.style.fill='#0054A6';this.style.width='70px';this.style.height='70px'" class="bi bi-back icon-resized" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"></path>
                            </svg>
                        </span>
                        <div class="card-body py-2 px-3">
                            <h4 class="card-title mt-3 text-uppercase" style="color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str-web-title")</h4>
                            <p class="card-text mt-4 pb-2">@_localization.Getkey("str-web-content")</p>
                        </div>
                    </div>
                    </div>
                </div>



                <div class="col-xs-6 col-lg-4  my-2" >
                    <div class="ps-2">
                    <div class="card bg-light border p-5" style="height:416px;">
                        <span class="card-img py-5">
                            <svg xmlns="http://www.w3.org/2000/svg" style="fill:#0054A6;width:70px;height:70px;" onmouseover="this.style.fill='#69b3e3';this.style.width='80px';this.style.height='80px'" onmouseout="this.style.fill='#0054A6';this.style.width='70px';this.style.height='70px'" class="bi bi-vector-pen icon-resized" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"></path>
                                <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"></path>
                            </svg>
                        </span>
                        <div class="card-body py-2 px-3">
                            <h4 class="card-title mt-3 text-uppercase" style="color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str-design-title")</h4>
                            <p class="card-text mt-4 pb-2">@_localization.Getkey("str-design-content")</p>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
            <div class="row mt-5">

                <div class="col-xs-6 col-lg-4 my-2" >
                    <div class="pe-2">
                    <div class="card bg-light border p-5" style="height:416px">

                        <span class="card-img py-5">
                            <svg xmlns="http://www.w3.org/2000/svg" style="fill:#0054A6;width:70px;height:70px;" onmouseover="this.style.fill='#69b3e3';this.style.width='80px';this.style.height='80px'" onmouseout="this.style.fill='#0054A6';this.style.width='70px';this.style.height='70px'" class="bi bi-fingerprint icon-resized" viewBox="0 0 16 16">
                                <path d="M8.06 6.5a.5.5 0 0 1 .5.5v.776a11.5 11.5 0 0 1-.552 3.519l-1.331 4.14a.5.5 0 0 1-.952-.305l1.33-4.141a10.5 10.5 0 0 0 .504-3.213V7a.5.5 0 0 1 .5-.5Z"></path>
                                <path d="M6.06 7a2 2 0 1 1 4 0 .5.5 0 1 1-1 0 1 1 0 1 0-2 0v.332c0 .409-.022.816-.066 1.221A.5.5 0 0 1 6 8.447c.04-.37.06-.742.06-1.115V7Zm3.509 1a.5.5 0 0 1 .487.513 11.5 11.5 0 0 1-.587 3.339l-1.266 3.8a.5.5 0 0 1-.949-.317l1.267-3.8a10.5 10.5 0 0 0 .535-3.048A.5.5 0 0 1 9.569 8Zm-3.356 2.115a.5.5 0 0 1 .33.626L5.24 14.939a.5.5 0 1 1-.955-.296l1.303-4.199a.5.5 0 0 1 .625-.329Z"></path>
                                <path d="M4.759 5.833A3.501 3.501 0 0 1 11.559 7a.5.5 0 0 1-1 0 2.5 2.5 0 0 0-4.857-.833.5.5 0 1 1-.943-.334Zm.3 1.67a.5.5 0 0 1 .449.546 10.72 10.72 0 0 1-.4 2.031l-1.222 4.072a.5.5 0 1 1-.958-.287L4.15 9.793a9.72 9.72 0 0 0 .363-1.842.5.5 0 0 1 .546-.449Zm6 .647a.5.5 0 0 1 .5.5c0 1.28-.213 2.552-.632 3.762l-1.09 3.145a.5.5 0 0 1-.944-.327l1.089-3.145c.382-1.105.578-2.266.578-3.435a.5.5 0 0 1 .5-.5Z"></path>
                                <path d="M3.902 4.222a4.996 4.996 0 0 1 5.202-2.113.5.5 0 0 1-.208.979 3.996 3.996 0 0 0-4.163 1.69.5.5 0 0 1-.831-.556Zm6.72-.955a.5.5 0 0 1 .705-.052A4.99 4.99 0 0 1 13.059 7v1.5a.5.5 0 1 1-1 0V7a3.99 3.99 0 0 0-1.386-3.028.5.5 0 0 1-.051-.705ZM3.68 5.842a.5.5 0 0 1 .422.568c-.029.192-.044.39-.044.59 0 .71-.1 1.417-.298 2.1l-1.14 3.923a.5.5 0 1 1-.96-.279L2.8 8.821A6.531 6.531 0 0 0 3.058 7c0-.25.019-.496.054-.736a.5.5 0 0 1 .568-.422Zm8.882 3.66a.5.5 0 0 1 .456.54c-.084 1-.298 1.986-.64 2.934l-.744 2.068a.5.5 0 0 1-.941-.338l.745-2.07a10.51 10.51 0 0 0 .584-2.678.5.5 0 0 1 .54-.456Z"></path>
                                <path d="M4.81 1.37A6.5 6.5 0 0 1 14.56 7a.5.5 0 1 1-1 0 5.5 5.5 0 0 0-8.25-4.765.5.5 0 0 1-.5-.865Zm-.89 1.257a.5.5 0 0 1 .04.706A5.478 5.478 0 0 0 2.56 7a.5.5 0 0 1-1 0c0-1.664.626-3.184 1.655-4.333a.5.5 0 0 1 .706-.04ZM1.915 8.02a.5.5 0 0 1 .346.616l-.779 2.767a.5.5 0 1 1-.962-.27l.778-2.767a.5.5 0 0 1 .617-.346Zm12.15.481a.5.5 0 0 1 .49.51c-.03 1.499-.161 3.025-.727 4.533l-.07.187a.5.5 0 0 1-.936-.351l.07-.187c.506-1.35.634-2.74.663-4.202a.5.5 0 0 1 .51-.49Z"></path>
                            </svg>
                        </span>
                        <div class="card-body py-2 my-2">
                            <h4 class="card-title mt-3 text-uppercase" style="color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str-cyber-title")</h4>
                            <p class="card-text mt-4 pb-3">@_localization.Getkey("str-cyber-content")</p>
                        </div>
                    </div>
</div>
                </div>

                <div class="col-xs-6 col-lg-4  my-2">
                    <div class="px-1">
                    <div class="card bg-light border p-5" style="height:416px">
                        <span class="card-img py-5">
                            <svg xmlns="http://www.w3.org/2000/svg" style="fill:#0054A6;width:70px;height:70px;" onmouseover="this.style.fill='#69b3e3';this.style.width='80px';this.style.height='80px'" onmouseout="this.style.fill='#0054A6';this.style.width='70px';this.style.height='70px'" class="bi bi-easel icon-resized" viewBox="0 0 16 16">
                                <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z"></path>
                            </svg>
                        </span>
                        <div class="card-body py-2">
                            <h4 class="card-title mt-3 text-uppercase" style="color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str-it-title")</h4>
                            <p class="card-text mt-4 pb-3">@_localization.Getkey("str-it-content")</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-lg-4  my-2">
                    <div class="ps-2">
                    <div class="card bg-light border p-5" style="height:416px">
                        <span class="card-img py-5">
                            <svg xmlns="http://www.w3.org/2000/svg" style="fill:#0054A6;width:70px;height:70px;" onmouseover="this.style.fill='#69b3e3';this.style.width='80px';this.style.height='80px'" onmouseout="this.style.fill='#0054A6';this.style.width='70px';this.style.height='70px'" class="bi bi-bag-heart icon-resized" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"></path>
                            </svg>
                        </span>
                        <div class="card-body py-2">
                            <h4 class="card-title mt-3 text-uppercase" style="color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str-ecommerce-title")</h4>
                            <p class="card-text mt-4 pb-3">@_localization.Getkey("str-ecommerce-content")</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
