<!DOCTYPE html>

<html lang="ar" >
<head>

    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content=@_localization.Getkey("str-meta-description")>
    <meta name="author" content="Tech Nexus" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />


    <link href="~/css/particles/style.css" rel="stylesheet" media="screen" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/betler/style.css" rel="stylesheet" />






    <script src="~/js/site.js"></script>

    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMFRB3D" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>


    <div>
        <a href="https://wa.me/971507746099?text=مرحباً %20" title="whatsapp" class="float" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>


    </div>


    <header>
        <nav class="navbar navbar-expand-lg fixed-top" dir=@_localization.Getkey("lang_dir") style=" font-size: 2vw;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Main" title="technexus-logo">
                    <img src=@_localization.Getkey("str_logo") alt="Tech Nexus Logo" style="max-height:10vh;width:300px" />
                </a>
                <button class="navbar-toggler" id="toggleButton" type="button" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">

                    <ul class="navbar-nav mx-auto mobile-links">
                        <li class="nav-item pe-1"><a class="nav-link fs-4" asp-controller="Home" asp-action="About" title="about-technexus" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str_about") </a></li>
                        <li class="nav-item pe-1"><a class="nav-link fs-4" asp-controller="Home" asp-action="Services" title="services-technexus" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str_service")</a></li>
                        <li class="nav-item pe-1"><a class="nav-link fs-4" asp-controller="Home" asp-action="Technologies" title="technologies-technexus" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str_technologies")</a></li>
                        <li class="nav-item pe-1"><a class="nav-link fs-4" asp-controller="Home" asp-action="Clients" title="clients-technexus" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str_client")</a></li>
                        <li class="nav-item pe-1"><a class="nav-link fs-4" asp-controller="Home" asp-action="ContactUs" title="contactus-technexus" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">@_localization.Getkey("str_contact")</a></li>

                        <li class="nav-item ml-3">
                            <a class="nav-link btn-outline-primary fs-5 btn-lg btn-radius display-6 lead" style="text-decoration:none; color:black;border-color:black; " onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='black'" asp-controller="Home" asp-action="StartYourProject" title="start-your-project-technexus">@_localization.Getkey("str_start_your_project")</a>
                        </li>

                        <li class="nav-item pe-1">
                            @if (User.Identity.IsAuthenticated == false)
                            {
                            <li class="nav-item pe-1">

                                <a class="nav-link fs-4" onclick="showLogin()" style="text-decoration:none; color:#0054A6; cursor:pointer; " onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                            </li>
                            }
                            else
                            {
                            <li class="nav-item pe-1">

                                <a class="nav-link fs-4" asp-controller="Company" asp-action="Index" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'">
                                    <i class="fa-solid fa-share-from-square"></i>
                                </a>
                            </li>
                            }
                    </ul>

                    <div class="dropdown nav-item p-0 mx-0 mobile-links" dir=@_localization.Getkey("lang_dir")>

                        <a title="language-selection" class="nav-link dropdown-toggle" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            @Thread.CurrentThread.CurrentUICulture.Parent.NativeName <i class="fas fa-globe"></i>
                        </a>
                        <ul class="dropdown-menu text-center mobile-links" aria-labelledby="navbarDropdown">
                            <li><a title="Change-Language-ar-AE" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ar-AE" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" class="nav-item pt-2 fs-4" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'"><i class="flag-icon flag-united-arab-emirates flag"></i> العربية</a></li>
                            <li><a title="Change-Language-en-US" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" class="nav-item pt-2 fs-4" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'"><i class="flag-icon flag-united-states flag"></i> English</a></li>
                            <li><a title="Change-Language-fr-FR" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="fr-FR" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" class="nav-item pt-2 fs-4" style="text-decoration:none; color:#0054A6;" onmouseover="this.style.color='#69b3e3'" onmouseout="this.style.color='#0054A6'"><i class="flag-icon flag-france flag"></i> Français</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </nav>
    </header>

    <!-- Login window -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

    <a href="https://wa.me/971507746099?text=مرحباً %20" title="whatsapp" class="float" target="_blank">
        <i class="fa-brands fa-whatsapp my-float"></i>
    </a>

    <div style="margin-top:90px">
        <main role="main">
            @RenderBody()
        </main>
    </div>

   
  
    <footer class=" text-center text-lg-start bg-white text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom bg-light" dir=@_localization.Getkey("lang_dir")>
            <!-- Left -->
            <div class="me-5 d-none d-lg-block fs-4" >
                <span>@_localization.Getkey("str_Get_connected")</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="https://www.facebook.com/TechNexus.ae" title="facebook-TechNexus.ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#30A2FF'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/TechNexusae" title="twitter-TechNexus.ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#00ACEE'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.google.com/search?authuser=0&hl=en&gl=ae&output=search&q=Tech+Nexus+Technology+Solutions+-+%D8%AA%D9%8A%D9%83+%D9%86%D9%83%D8%B2%D8%B3+%D9%84%D9%84%D8%AD%D9%84%D9%88%D9%84+%D8%A7%D9%84%D8%AA%D9%82%D9%86%D9%8A%D8%A9&ludocid=7684089176108624910&gsas=1&lsig=AB86z5VXZo19CRcSqtkQ3z_JItSl&ved=1i%3A3%2Ct%3A109124%2Ce%3A2%2Cp%3AinByZIqgHYmQkdUP_uSd6A4%3A53#" title="google-map-TechNexus.ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#0F9D58'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com/TechNexus.ae" title="instagram-TechNexus.ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#FF0060'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/tech-nexus-ae" title="linkedin-tech-nexus-ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#30A2FF'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-linkedin"></i>
                </a>

            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2023
            <a class=" fw-bold" style="color: rgb(0, 84, 166);" title="technexus-site-url" href="https://technexus.ae/">@_localization.Getkey("str_title_footer")</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>

    <script src="~/js/betler/common_scripts.js"></script>
    <script src="~/js/betler/common_func.js"></script>


    <script>
        function showLogin() {
            event.preventDefault();
            $.ajax({
                url: "@Url.Action("Login","Account")",
                type: 'GET',
                success: function (result) {
                    $('#myModal').html(result);
                    $('#myModal').modal('show');
                }
            });
        }
        $(document).ready(function () {
            $("#toggleButton").click(function () {
                $("#navbarColor02").toggle();
                $(this).toggleClass("active");
            });
        });

    </script>



</body>
</html>


